$burnt-orange: #ff8c00;
$yellow: #fecb01;
$brown: #b44601;
$light-green: #bdc901;
$dark-green: #8aab00;

#signup{
	background-color: $brown;
	padding-top: 10%;
	padding-left: 15%;
	padding-bottom:10%;
	border: solid;
	border-width: 10px;
	border-color: $burnt-orange;
}