@import 'simple-grid';
@import 'ui';
@import 'sign-up-form';
@import 'navbar';
@import 'rating';
@import 'edit';
$burnt-orange: #ff8c00;
$yellow: #fecb01;
$brown: #b44601;
$light-green: #bdc901;
$dark-green: #8aab00;
#footer{
	height: 27vh;
    width: 64%;
    margin-left: 20%;
    margin-top: 17%;
}
#profileSide{
	text-align:center;
	height:60%;
	background-color:$burnt-orange;
	position:fixed;
	#profileImg{
		height:40%;
		width:240px;
    	margin: 10px;
    	border:5px solid white;
    	border-radius: 800px;
	}
}



body{
	background-color:#E6ECF0;
}

#postModal{
	text-align: center;
	width:40%;
	height:20%;
	position: fixed;
    right:30%;
    top:20%;
    z-index: 1000;
    display: none;
    overflow: hidden;
    background-color: $burnt-orange;
    box-shadow: 0 0 40px black;
    overflow:scroll;
    #modalHead{
		margin-top:50px;
		font-size:4em;
		color:$burnt-orange;
			
}
	
}
#blur2{
	width:100%;
	height:100%;
	z-index: 2;
	background-color: black;
	top:0;
	display:none;
	position:fixed;
	opacity:0.5;
}

#label{
	color:$burnt-orange;
	font-size: 4em;
}
#emailInput{
	font-size:3em;
	color:$burnt-orange;
	height:40%;
	width:40%;
}

#makePost{
	margin-left:42%;
	font-size:2em;
	width:100%;
	height:20%;
	margin-left:0;
}

.postStuff{
	width:30%;
	height:50%;
	color:black;
	background-color:#FFFFFF;
	text-align:center;
}
.postHead{
	margin-left:30%;
	text-align:center;
	color:black;
	width:40%;
	border-bottom:1px solid black;

}
.postBody{
	color:black;
}