@import 'simple-grid';
@import 'ui';
@import 'sign-up-form';
@import 'navbar';
@import 'rating';
$burnt-orange: #ff8c00;
$yellow: #fecb01;
$brown: #b44601;
$light-green: #bdc901;
$dark-green: #8aab00;


#postModal{
	text-align: center;
	width:40%;
	height:20%;
	position: fixed;
    right:30%;
    top:20%;
    z-index: 1000;
    display: none;
    overflow: hidden;
    background-color: $burnt-orange;
    box-shadow: 0 0 40px black;
    overflow:scroll;
    #modalHead{
		margin-top:50px;
		font-size:4em;
		color:$burnt-orange;
			
}
	
}
#blur2{
	width:100%;
	height:100%;
	z-index: 2;
	background-color: black;
	top:0;
	display:none;
	position:fixed;
	opacity:0.5;
}

#label{
	color:$burnt-orange;
	font-size: 4em;
}
#emailInput{
	font-size:3em;
	color:$burnt-orange;
	height:40%;
	width:40%;
}

#makePost{
	margin-left:42%;
	font-size:2em;
	width:17%;
	height:8%;
}

.postStuff{
	text-align:center;
	background-color:$burnt-orange;
}
