@import 'simple-grid';
@import 'ui';
@import 'sign-up-form';
@import 'navbar';
@import 'rating';
@import 'edit';
@import 'post';
$burnt-orange: #ff8c00;
$yellow: #fecb01;
$brown: #b44601;
$light-green: #bdc901;
$dark-green: #8aab00;
#profile-actions{
	text-align: center;
    margin-right: 100%;
    position: fixed;
    top: 23%;
    height: 63%;
    width: 28%;
    background-color:$burnt-orange;
    overflow:scroll;
}
#makePost,{
	position:fixed;
	font-size: 2em;
    width: 28%;
    height: 10%;
    margin-left: -14%;
}

#streamPhoto{
	margin-top:9%;
	margin-left:8%;
	width:70px;
	height:10%;
	float:left;
}
.footer{
width:49%;

}

p{
	font-size:2em;
}
h1{
	font-size:3em;
}
#profileSide{
	z-index: 20;
	text-align:center;
	height:70%;
	background-color:$burnt-orange;
	position:fixed;
	#profileImg{
		height:40%;
		width:282px;
    	margin: 10px;
    	border:5px solid white;
    	border-radius: 800%;
	}
}

a{

	text-decoration:none;
}

body{
	background-color:#E6ECF0;
}
