<!DOCTYPE html>
<html>
<head>
	<title>Straight to the Pint</title>
	<link rel="stylesheet" type="text/css" href="<%= url('css/styles.css') %>">
</head>
<body>
	<%= yield %>

<script type="text/javascript" src="<%= url('scripts/jquery-3.js') %>" ></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="<%= url('scripts/main.js')%>"></script>
</body>
</html>