<!DOCTYPE html>
<html>
<head>
	<title>Straight to the Pint</title>
	<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Monoton|Share+Tech+Mono" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="<%= url('css/styles.css') %>">
</head>
<body>
	<nav id='nav'>
		<div class='row'>
			<div class ='col-4' id='left-logo'></div>
			<div class='col-4' id='logo'>
			</div>
			<div class='col-4' id='links'>
				<ul>
					<li><a href='/'>Home</a><li>
					<% if session[:user_id] == nil %>
					<li><a id='sign-in'>Sign In</a></li>
					<li><a href='/sign-up' id='sign-up'>Sign Up</a></li>
					<% else %>
					<li><a id='log-out' href='/log-out'>Log-Out</a></li>
					<li><a id='profile' href='/profile/:id'>Profile</a></li>
					<%end%>
				</ul>
			</div>
		</div>
	</nav>

	<%= yield %>

	<container id='blur'></container>
	<div id="myModal">
		<container id="modalContent">
			<h1>Sign In</h1>
				<form method="POST" action='/'>
					<label for='username'>Username</label>
					<input type="text" name="username" id="username">
					<label for='password'>Password</label>
					<input type='text' name='password' id='password'>
					<button type="submit" value="Submit" is='submit'>Submit</button>
			</form>
			</container>
		</div>
	</div>



<script type="text/javascript" src="<%= url('scripts/jquery-3.js') %>" ></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="<%= url('scripts/main.js')%>"></script>
</body>
</html>