<%= session[:user_id] %>
<button id='makePost'>Create Post</button>

<container id='blur2'></container>
	<div id="postModal">
		<container id="postModalContent">
			<h1>Create new Post</h1>
				<form method="POST" action='/profile/:id'>
					<label for='username'>Title</label>
					<input type="text" name="title" id="title">
					<br>
					<label for='password'>Content</label>
					<input type='textarea' name='title' id='content'>
					<br>
					<button type="submit" value="Submit" is='submit'>Post</button>
			</form>
			</container>
		</div>
	</div>