
<button id='makePost'>Create Post</button>

<%@reverse.each do |t| %>

<div class='row posts'>
	<div class='col-4'></div>
	<div class='col-4 postStuff'>
<h1><%=t.title%></h1>
<p><%=t.content%></p>
</div>
</div>
<%end%>


































<container id='blur2'></container>
	<div id="postModal">
		<container id="postModalContent">
			<h1>Create new Post</h1>
				<form method="POST" action='/profile/:id'>
					<label for='username'>Title</label>
					<input type="text" name="title" id="title">
					<br>
					<label for='password'>Content</label>
					<textarea id='content' name='content'></textarea>
					<br>
					<button type="submit" value="Submit" is='submit'>Post</button>
			</form>
			</container>
		</div>
	</div>

	