<div class = "container">
	<div class = "row">
		<div class = "col-12">
		<form id ="userpass" class="signup" method = "post" action = "./sign-up">
			<label for "username">Create a Username:</label>
				<input type = "text" name= "username">
			<label for "password">Create a password:</label>
				<input type="password" name="password">
		</form>
		<form id=profinit class="signup" method = "post" action = "./profile">
			<label for "pic">Choose a Profile Pic!</label>
			  <input type="file" name="pic" accept="image/*">
			<label for "content">Write a short bio of yourself</label>
				<!-- add the style to css when ready -->
			  <textarea name="content" style="margin: 0px; width: 585px; height: 179px;"></textarea>
		</form>
		</div>
	</div>
</div>

